@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

html {
    height:100%;
    background-color: white;
}
body {
    font-family: "Noto Sans";
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}
section {
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 2px;
}
section:nth-child(even) {
    background-color: #f5f5f5;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}